@{
    ViewData["Title"] = "Home Page";
}
<h1>Vizyondakiler</h1>
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" style="width:800px;height:700px;margin-top:90px;margin-left:280px">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/goodfellas-widescreen-cover-nqvb6c5yyzv0ldcy.jpg" class="d-block w-100 clickable-photo" alt="..." data-id="1" style="cursor:pointer;">
        </div>
        <div class="carousel-item">
            <img src="~/images/hq720.jpg" class="d-block w-100 clickable-photo" alt="..." data-id="2" style="cursor:pointer;">
        </div>
        <div class="carousel-item">
            <img src="~/images/knight.jpg" class="d-block w-100 clickable-photo" alt="..." data-id="3" style="cursor:pointer;">
        </div>
        <div class="carousel-item">
            <img src="~/images/the-godfather-banner.png" class="d-block w-100 clickable-photo" alt="..." data-id="4" style="cursor:pointer;">
        </div>
        <div class="carousel-item">
            <img src="~/images/aaaabwgikujv_s53_ieu23nsbmagxt2rd-0seej4zvpl2ovfhl3h2xxozum2wthinjergwj-m_jeyhl0eoms2nxmdxtyrddjxs11u8fg.jpg" class="d-block w-100 clickable-photo" alt="..." data-id="5" style="cursor:pointer;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@section Scripts {
    <script src="~/js/PhotoDetails.js"></script>
    <script>
        const photoDetails = {
            1: {
                title: "Photo 1",
                description: "Description of Photo 1",
                // Diğer detaylar...
            },
            2: {
                title: "Photo 2",
                description: "Description of Photo 2",
                // Diğer detaylar...
            },
            // Diğer fotoğrafların detayları...
        };
        document.addEventListener('DOMContentLoaded', function () {
            const clickablePhotos = document.querySelectorAll('.clickable-photo');
            clickablePhotos.forEach(photo => {
                photo.addEventListener('click', function () {
                    const photoId = this.getAttribute('data-id');
                    console.log(photoId); // photoId değerini konsola yazdırma
                    window.location.href = `/Home/Details?photoId=${photoId}`;
                });
            });
        });
    </script>
}