@model Ticket

<h2>Payment Confirmation</h2>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<div>
    <label>Orijinal Fiyat: </label>
    <span>@Model.price.ToString("C")</span>
</div>
<div>
    <label>Net Fiyat: </label>
    <span>@Model.netprice.ToString("C")</span>
</div>







